.row
  .form-group.col-sm-12
    = label_tag :trial_toggle, s_('Trial|GitLab Gold trial (optional)'), for: :trial_toggle, class: 'col-form-label'
    %p= html_escape(('Try all GitLab features for free for 30 days.%{br_tag}No credit card required.')) % { br_tag: '<br/>'.html_safe }
    .js-trial-toggle{ data: { active: params[:trial] == 'true' } }
    %p.gl-text-gray-500.gl-mt-3= s_('Trial|We will activate your trial on your group after you complete this step. After 30 days, you can:')
    %ul.gl-pl-5
      %li.gl-text-gray-500= s_('Trial|Upgrade to Gold to keep using GitLab with advanced features.')
      %li.gl-text-gray-500= s_('Trial|Continue using the basic features of GitLab for free.')
.js-trial-form.hidden
  .row
    .form-group.col-sm-12
      = label_tag :company_name, s_('Trial|Company name'), for: :company_name, class: 'col-form-label'
      = text_field_tag :company_name, params[:company_name], class: 'form-control js-trial-field', required: true
  .row
    .form-group.col-sm-12.gl-select2-html5-required-fix
      = label_tag :company_size, s_('Trial|Number of employees'), for: :company_size, class: 'col-form-label'
      = select_tag :company_size, company_size_options_for_select(params[:company_size]), include_blank: true, class: 'js-trial-field select2', required: true
  .row
    .form-group.col-sm-12
      = label_tag :number_of_users, s_('Trial|How many employees will use Gitlab?'), for: :number_of_users, class: 'col-form-label'
      = number_field_tag :number_of_users, params[:number_of_users], class: 'form-control js-trial-field', required: true, min: 1
  .row
    .form-group.col-sm-12
      = label_tag :phone_number, s_('Trial|Telephone number'), for: :phone_number, class: 'col-form-label'
      = text_field_tag :phone_number, params[:phone_number], class: 'form-control js-trial-field', required: true
  .row
    .form-group.col-sm-12.gl-select2-html5-required-fix
      = label_tag :country, s_('Trial|Country'), class: 'col-form-label'
      = select_tag :country, options_for_select([[_('Please select a country'), '']]), class: ' js-trial-field select2 gl-transparent-pixel', required: true, id: 'country_select', data: { countries_end_point: countries_path, selected_option: params[:country]}
